{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "show_cars/css/style_detail.css" %}">
{% endblock link %}

{% block content %}

<!-- card section -->

<section class="container-fluid my-4">
    <div class="card-page row mx-4">

        <div class="col my-3">
            <div class="card p-4 m-1">
                <img src="{{car.image.url}}" class="card-img-top rounded-2" alt="...">

                <div class="card-body">

                    <h1 class="card-title text-danger">{{car.name}}</h1>

                    <p class="text-dark h4 my-4">
                        Description: {{car.description}}
                    </p>

                    <h5 class="text-light">Quantity: {{car.quantity}}</h5>
                    <h5 class="text-danger">Price: {{car.price}}$</h5>
                    <p>

                        <h5 class="text-white btn bg-primary">{{car.brand.name}}</h5>
                    </p>

                    {% if logged %}
                    <div class="d-flex justify-content-center gap-5 mt-5">

                        <h5 class="btn bg-success text-white">Add To Cart</h5>
                        <a href="{% url "buy" car.id %}">
                            <h5 class="btn bg-danger text-white">Buy Now</h5>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}