{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "show_cars/css/style_detail.css" %}">
{% endblock link %}

{% block content %}

<!-- card section -->

<section class="container-fluid my-4">
    <div class="card-page row mx-4">

        <div class="col my-3">
            <div class="card p-4 m-1">
                <img src="{{car.image.url}}" class="card-img-top rounded-2" alt="...">

                <div class="card-body">
                    <div class="d-flex justify-content-start">

                        <h3 class="card-title text-danger">{{car.name}}</h3>

                    </div>
                </div>

                <p class="mx-3 text-light">
                    {{car.description | truncatewords:10}}
                </p>
            </div>
        </div>

    </div>
</section>

{% endblock content %}