{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "show_cars/css/style_home.css" %}">
{% endblock link %}

{% block content %}
{{block.super}}

<!-- card section -->

<section>
    <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
    <label class="btn" for="option5">Checked</label>

    <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
    <label class="btn" for="option6">Radio</label>

    <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off" disabled>
    <label class="btn" for="option7">Disabled</label>

    <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
    <label class="btn" for="option8">Radio</label>
</section>

<section class="container-fluid my-4">
    <div class="card-page row row-cols-3 mx-4">

        {% for i in data %}

        <div class="col my-3">
            <div class="card">
                <img src="{{i.image.url}}" class="card-img-top" alt="...">

                <div class="card-body text-center">

                    <a href="{% url "detail" i.id %}" class="text-decoration-none">
                        <h1 class="card-title text-danger">{{i.name}}</h1>
                    </a>

                    <p class="text-dark h4 my-4">
                        Description: {{i.description | truncatewords:10}}
                    </p>

                    <h5 class="text-light">Quantity: {{i.quantity}}</h5>
                    <h5 class="text-danger">Price: {{i.price}}$</h5>
                    <h5 class="text-white btn bg-primary">Brand: {{i.brand.name}}</h5>

                    {% if logged %}
                    <h5 class="btn bg-success text-white">Add To Cart</h5>
                    {% endif %}

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock content %}