{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "show_cars/css/style_home.css" %}">
{% endblock link %}

{% block content %}
{{block.super}}

<!-- card section -->
<section class="container-fluid">

    <div class="sort-by text-center">

        {% for brand in brands %}

        <input type="radio" class="btn-check" name="options-base" id="option{{brand.id}}" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="option{{brand.id}}">{{brand.name}}</label>

        {% endfor %}

    </div>

    <div class="card-page row row-cols-3 mx-4">

        {% for car in cars %}

        <div class="col my-3">
            <div class="card">
                <img src="{{car.image.url}}" class="card-img-top" alt="...">

                <div class="card-body text-center">

                    <a href="{% url "detail" car.id %}" class="text-decoration-none">
                        <h1 class="card-title text-danger">{{car.name}}</h1>
                    </a>

                    <p class="text-dark h4 my-4">
                        Description: {{car.description | truncatewords:10}}
                    </p>

                    <h5 class="text-light">Quantity: {{car.quantity}}</h5>
                    <h5 class="text-danger">Price: {{car.price}}$</h5>
                    <h5 class="text-white btn bg-primary">Brand: {{car.brand.name}}</h5>

                    {% if logged %}
                    <h5 class="btn bg-success text-white">Add To Cart</h5>
                    {% endif %}

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock content %}