{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static "show_cars/css/style_home.css" %}">
{% endblock link %}

{% block content %}
{{block.super}}

<!-- card section -->

<section class="container-fluid my-4">
    <div class="card-page row row-cols-3 mx-4">

        {% for i in data %}

        <div class="col my-3">
            <div class="card">
                <img src="{{i.image.url}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <div class="d-flex justify-content-start">

                        <a href="{% url "detail" i.id %}">
                            <h2 class="card-title text-danger text">{{i.name}}</h2>
                        </a>
                    </div>

                    <p class="text-dark h5 my-3">
                        Description: {{i.description | truncatewords:10}}
                    </p>
                    <h5 class="text-light">Quantity: {{i.quantity}}</h5>
                    <h5 class="text-danger">Price: {{i.price}}</h5>
                    <h5 class="text-warning">Brand: {{i.brand.name}}</h5>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock content %}