body {
      background: linear-gradient(13.89deg, #030640 10.47%, #690e87 98.32%, #383b81);
      height: 150vh;
    }

    .card {
    background-color: rgb(115, 59, 151);
}

.card-img-top {
    width: 90%;
}

