
body {
    background: gray;

}

.home-bg{
    background: linear-gradient(13.89deg, #030640 10.47%, #690e87 98.32%, #383b81);
    height: 87.5vh;
}


.navbar{
    background-color: rgb(18, 27, 60);
}

.home-img{
    width: 40vw;
}
