{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "app1/css/style.css" %}">
{% endblock css %}

{% block content %}
{% load crispy_forms_tags %}

<form class="w-50 m-auto my-5" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn text-white bg-primary my-3" type="submit">Submit</button>
</form>

<div class="w-50 m-auto my-5">

    {% for key, value in data.items %}
    <h3>{{key}} : {{value|default:"Not Found!"}}</h3>
    {% endfor %}

    {% if data %}
    <img src="{% static 'app1/images/'|add:data.profile_img.name %}" alt="">
    {% endif %}


</div>


{% endblock content %}