 <h3>Dear {{user.first_name}},</h3>

 <p>I hope this message finds you well.</p>

 <p>This is to inform you that a change has been made to your account password on our banking software on account
     
    {{user.account.account_no}}. If you made this
     change, you don't need to do anything else.</p>

 <p>If you didn't make this change or believe an unauthorized person has accessed your account, please reset your
     password immediately and contact our customer support team.</p>

 <p>Remember, we will never ask for your password via email or phone call. Always ensure to keep your account details
     and password confidential.</p>

 <p>Thank you for choosing our banking services. Your security is our top priority.</p>

 <p>Best regards,<br>
     <br></p>