{% extends "base.html" %}
{% load static %}
    
{% block content %}

    <!-- card section -->
    <section class="container-fluid bg-body-tertiary">
        <div class="row" id="video-container">
        
            <div class="col-md-3 my-3">
                <div class="card">
                    <img src="static/image1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-start">
                            <img src="static/image1.png" class="w-25 m-2" alt="...">
                            <p class="card-title">Card title</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}