{% extends "base.html" %}
{% load static %}
    
{% block content %}

    <!-- card section -->
    
    <section class="container-fluid bg-body-tertiary ">
        <div class="row row-cols-4 mx-4" id="video-container">

            {% for i in meals %}
            
                <div class="col my-3">
                    <div class="card">
                        <img src="{{i.strMealThumb}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-start">
        
                                <h3 class="card-title">{{i.strMeal}}</h3>
                                
                            </div>
                        </div>
                        {% comment %} <p class="mx-3">{% lorem 10 w random %}</p> {% endcomment %}

                        <p class="mx-3">{{i.strMealDescription}}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock content %}