{% extends "base.html" %}
{% load static %}
    
{% block content %}

    <!-- card section -->
    
    <section class="container-fluid bg-body-tertiary">
        <div class="row" id="video-container">

            {% for i in meals %}
            
                    <div class="col-md-3 my-3">
                        <div class="card">
                            <img src="i.strMealThumb" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="d-flex justify-content-start">
            
                                    <p class="card-title">Card title</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

            {% endfor %}
        </div>
    </section>

{% endblock content %}