<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: gray;
        }
    </style>
</head>
<body>
    <h1>this is an app/filter</h1>
    <a href="/app/"><h2>goto app</h2></a>
    <a href="/"><h2>goto Home</h2></a>

    {% for i in data %}
        <h2> {{i.age}} + 10 = {{i.age | add:10}}</h2>
    {% endfor %}
    
    {% for i in data %}
        <h2> {{i.name}} = {{i.name | capfirst}}</h2>
        <h2>{{ 'ABC' | lower }}</h2>
    {% endfor %}
    

    <h2>{{ data | capfirst }}</h2>
    <h2>{{ "Introduction - to - C#" | cut:"-" }}</h2>

    {% for i in data %}
        <h2> {{i.age}} / 2 = {{ i.age | divisibleby:"2" }}</h2>

    {% endfor %}
    
    <h2>First : {{ data | first }}</h2>
    <h2>Last : {{ data | last }}</h2>
    <h2>Sorted : {{ data | dictsort:"age" }}</h2>
    <h2>{{ "abc" | make_list }}</h2>

</body>
</html>