{% extends "base.html" %}
{% load static %}

{% block link %}
{{ block.super }}
{% endblock link %}

{% block content %}
{% load crispy_forms_tags %}

<section>
    {% if messages %}<div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {% for m in messages %}{{m}}{% endfor %}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>{% endif %}
    
</section>

<section class="m-3">

    <form method="post" class="w-50 m-auto" novalidate>

        {% csrf_token %}
        <!-- {{form | crispy }} -->
        {% for fm in form%}
        <div class="my-3">
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
        </div>
        {% endfor %}

        <button class="btn btn-primary my-4" type="submit">Submit</button>

    </form>
</section>


{% endblock content %}