{% extends "base.html" %}
{% load static %}

{% block link %}
{{ block.super }}
{% endblock link %}

{% block log %}
<a href="{% url 'login' %}" class="btn btn-outline-daneger text-white" type="submit">Login</a>
{% endblock log %}

{% block content %}
{% load crispy_forms_tags %}


<section class="m-3">
    {% if messages %}
    {% for m in messages %}
    <strong class="m-2 {% if m.tags %}text-{{m.tags}}{% endif %}">{{m}}</strong>
    {% endfor %}
    {% endif %}

    <form method="post" class="w-50 m-auto" novalidate>

        {% csrf_token %}
        <!-- {{form | crispy }} -->
        {% for fm in form%}
        <div class="my-3">
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
        </div>
        {% endfor %}

        <button class="btn btn-primary my-4" type="submit">Submit</button>

    </form>
</section>


{% endblock content %}