{% extends "base.html" %}
{% load static %}

{% block link %}
{{ block.super }}

{% endblock link %}

{% block log %}
{{block.super}}
{% if not pass %}<a href="{% url 'login' %}" class="btn btn-outline-daneger text-white"
    type="submit">Login</a>{% endif %}
{% endblock log %}

{% block content %}
{% load crispy_forms_tags %}


<section class="m-3">
    {% if messages %}
    {% for m in messages %}
    <strong class="m-2 {% if m.tags %}text-{{m.tags}}{% endif %}">{{m}}</strong>
    {% endfor %}
    {% endif %}

    <form method="post" class="w-50 m-auto" novalidate>
        {% for err in form.non_field_errors %}
        <div class="m-3 bg-danger p-3 rounded-3 text-white h5">{{err}}</div>
        {% endfor %}

        {% csrf_token %}
        <!-- {{form | crispy }} -->
        {% for fm in form%}
        <div class="my-3">
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
        </div>
        {% endfor %}

        <button class="btn btn-primary my-4" type="submit">Submit</button>

    </form>
</section>


{% endblock content %}