{% extends "base.html" %}
{% load static %}

{% block link %}
{{ block.super }}
{% endblock link %}

{% block content %}

<section>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Musician Name</th>
                <th scope="col">Email</th>
                <th scope="col">Album Rating</th>
                <th scope="col">Instrument Type</th>
                <th scope="col">Album Name</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for i in data %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.musician.first_name}}</td>
                <td>{{i.musician.email}}</td>
                <td>{{i.rating}}</td>
                <td>{{i.instrument_type|default:"None"}}</td>
                <td>{{i.album_name}}</td>
                <td>{{i.release_date}}</td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="button" aria-pressed="false"
                        autocomplete="off">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false"
                        autocomplete="off">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>


{% endblock content %}